*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body{
	font-family:'Oswald', sans-serif;
	line-height: 1.6;
	height: 100;
	background-color: /*#9D9CB4*/;
}

/*Top page start*/
.toppage{
	background-color: #54575D;
}

.toppage h2{
	color: white;

}



/*Top page end*/

	/*Button Start*/

.btn{
	border: 2px solid transparent;
	background: black;
	border-radius: 12px;
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.btn a{
	color: white;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
}
.btn:hover{
	border: 2px solid #3D8F77;
	cursor: pointer;
}
  /*Button End*/

  /*Paragraph Start*/
  .paragraph{
  	margin: 0 10%;
  	padding: 0 10%
  }

    /*Paragraph Start*/

 
  /*Skills Start*/



.skill{
	position: relative;
	display: flex;
}

.skills i{
	margin-top: 15px;
	font-size: 50px;
	padding-left: 10px;
	margin-right: 15px;
}

.skills .fa-html5{
	color: #e34f26;
}

.skills .fa-css3{
	color: #34A853; 
}

.skills .fa-bootstrap{
	color: #563d7c;
}






/*Skills End*/

.container { 
	background-color: #CB9D52;
	padding-bottom: 2%;
 }

     /*Social Logo Start*/

.social {
	position:relative;
}

 .social ul{
 	display: flex;
	margin-top: 1em;
	margin-left: 2.9em;	

}

/*Social logo End*/

ul li{
	position: relative;
	display: block;
	color: #666;
	font-size: 40px;
	height: 60px;
	width: 60px;
	background: white;
	line-height: 60px;
	border-radius: 50%;
	margin: 0 15px;
	cursor: pointer;
	text-align: center;
}

ul a{
	text-decoration: none;
	color: inherit;
}

ul li:hover:nth-child(1){
	border: 5px solid #3b5998;
	box-shadow: 0 0 15px #3b5998;
	transition: all 0.5% ease;
}

ul li .fa-facebook{
	color:#3b5998;
}

ul li:hover .fa-facebook{
	color: #3b5998;
	text-shadow: 0 0 15px #3b5998;
	transition: all 0.5% ease;
}


ul li:hover:nth-child(2){
	border: 5px solid #bc2a8d;
	box-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5% ease;
}

ul li .fa-instagram{
	color: #bc2a8d;
}

ul li:hover .fa-instagram{
	color: #bc2a8d;
	text-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5% ease;
}

ul li:hover:nth-child(3){
	border: 5px solid #2867B2;
	box-shadow: 0 0 15px #2867B2;
	transition: all 0.5% ease;
}

ul li .fa-linkedin{
	color: #2867B2;
}


ul li:hover .fa-linkedin{
	color: #2867B2;
	text-shadow: 0 0 15px #2867B2;
	transition: all 0.5% ease;
}

ul li:hover:nth-child(4){
	border: 5px solid #ff0000;
	box-shadow: 0 0 15px #ff0000;
	transition: all 0.5% ease;
}

ul li .fa-youtube{
	color: #ff0000;
}

ul li:hover .fa-youtube{
	color: #ff0000;
	text-shadow: 0 0 15px #ff0000;
	transition: all 0.5% ease;
}



     /*Social Logo End*/

/*Media Query Start*/

@media only screen and (max-width:1024px) {

    .social ul{
	padding-left: 0em;
}
	.btn{
	font-size: 20px;
}
 	ul li {
 		font-size: 37px;
 	}
 	p{
 		font-size: 20px;
 	}
}

@media only screen and (max-width: 375px) {

	.btn{
	font-size: 10px;	
}

	p{
		font-size: 14px;
	}

}
@media only screen and (max-width: 768px) {

	.social ul{
	padding-right: 3em;
}
	.btn {
		font-size: 20px;
	}
	ul li{
		margin: 0px 4px;
		font-size: 35px;
	}

	.skills i{
		padding-left: 5px;
	}

}

	/*Media Query En*/
