

{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body{
	font-family:'Oswald', sans-serif;
	line-height: 1.6;
	height: 100vh;
}

/*Navbar Start*/
.navbar{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2rem;
	background-color: #54575D;
	padding: 12px 0px;
}

.navbar-dark .navbar-nav .nav-link{
	color: white;
	padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: #3D8F77;
}

/*Navbar End*/

/*Offset pages Start*/
.offset:before{
	display: block;
	content: "";
	height: 2.8em;
}
/*Offset pages End*/

/*Home Content Start*/
.thebackground {
	position: relative;
	text-align: center;
	color: white;
}


.heading-content{
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
}

.heading-content h5{
	font-size: 3.5em;
	font-weight: 300;
	color: white;
	font-family: monospace;
}

.heading-content h1{
	font-size: 4.5em;
	font-weight: bolder;
	color: white;
	font-family: 'Monserat', sans-serif;
}

.heading-content h3{
	font-size: 3.5em;
	font-weight: uppercase;
	color: lighter;
	font-family: 'Monserat', sans-serif;
	color: white;
	
}

/*Home Content End*/



/*About Start*/

#about img{
	height: 450px;
	width: 600px;
}

#about .btn{
	margin-top: 3em;
	margin-left: 9em;
	border: 2px solid transparent;
	width: 40%;
	padding: 15px 22px;
	background: black;
	border-radius: 5px;

}

#about .btn a{
	color: white;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
}
#about .btn:hover{
	border: 2px solid #3D8F77;
	cursor: pointer;
}

#about p{
	font-size: 1em;
	font-weight: 500;
	position: relative;

}

#about .about{
	padding-top: 52px;
}
/*About End*/


/*Portfolio Start*/
#portfolio{
	background-image: url('./assets/images/bgp.jpg');
	background-size: cover;
	position: relative;
}

#portfolio h2{
	font-weight: 500;
}
/*Portfolio End*/

/*Service Start*/

#services{
	position: relative;
	display: flex;
	margin-bottom: 2em;
}
#services .container{
	padding-top: 1.5em;
}

#services img{
	border: solid black;
	height: 250px;
	width: 400px;
	border-radius: 20%;
	margin-top: 2em;
	align-items: center;
	margin-left: 4.5em;
}

#services h5{
	background-color: #54575D;
	color: white;
	border-radius: 50px;

}

/*Service End*/


/*Contact Start*/

#contact{
	background-image: url('./assets/images/contact.jpg');
	background-size: cover;
	position: relative;
	height: auto;
	padding-bottom: 7%;
}

#contact .adjust{
	margin-left: 12%;
}


#contact .contact-info .box{
	position: relative;
	display: flex;
}

#contact .contact-info .box .icon{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}

#contact .contact-info .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}

#contact h2{
	color: white;
}

#contact h3{
	color: #3B3871; 
	font-weight: 600;
}

#contact ul{
	display: flex;

}



#contact ul li{
	position: relative;
	display: block;
	color: #666;
	font-size: 30px;
	height: 60px;
	width: 60px;
	background: white;
	line-height: 60px;
	border-radius: 50%;
	margin: 0 15px;
	cursor: pointer;
	text-align: center;
}

#contact ul a{
	text-decoration: none;
	color: inherit;
}

#contact ul li:hover:nth-child(1){
	border: 5px solid #3b5998;
	box-shadow: 0 0 15px #3b5998;
	transition: all 0.5% ease;
}

#contact ul li .fa-facebook{
	color:#3b5998;
}

#contact ul li:hover .fa-facebook{
	color: #3b5998;
	text-shadow: 0 0 15px #3b5998;
	transition: all 0.5% ease;
}


#contact ul li:hover:nth-child(2){
	border: 5px solid #bc2a8d;
	box-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5% ease;
}

#contact ul li .fa-instagram{
	color: #bc2a8d;
}

#contact ul li:hover .fa-instagram{
	color: #bc2a8d;
	text-shadow: 0 0 15px #bc2a8d;
	transition: all 0.5% ease;
}

#contact ul li:hover:nth-child(3){
	border: 5px solid #2867B2;
	box-shadow: 0 0 15px #2867B2;
	transition: all 0.5% ease;
}

#contact ul li .fa-linkedin{
	color: #2867B2;
}


#contact ul li:hover .fa-linkedin{
	color: #2867B2;
	text-shadow: 0 0 15px #2867B2;
	transition: all 0.5% ease;
}

#contact ul li:hover:nth-child(4){
	border: 5px solid #ff0000;
	box-shadow: 0 0 15px #ff0000;
	transition: all 0.5% ease;
}

#contact ul li .fa-youtube{
	color: #ff0000;
}

#contact ul li:hover .fa-youtube{
	color: #ff0000;
	text-shadow: 0 0 15px #ff0000;
	transition: all 0.5% ease;
}



/*Contact End*/

/*Footer Start*/
footer{
	background-color: #54575D;
}

footer .footer-copyright{
	color: white;
}

.footer-copyright span{
  padding-left: 3px;
}
/*Footer End*/


/*@Media Query Start*/


@media only screen and (max-width: 1024px) {

	#services img{

	margin-left: 25px;
	}

.heading-content {

	top: 50%;
	left: 40%;
	font-size: 0.8em;
}

}


@media only screen and (max-width: 768px){

	#about .btn{
	margin-left: 5em;
	}
	#services img{
	margin-left: 0px;
	margin-right: 5.5px;
	}

	.heading-content {
	font-size: 0.6em;
  }

	
}




@media only screen and (max-width: 375px){

	#about .btn{
	margin-left: 5em;
	}
	.heading-content {
    font-size: 5px;
    top:53%;
    left: 38%;
  }

  #portfolio h2{
  	color: white;
  }

  #contact .offset:before{
	display: block;
	content: "";
	height: 5em;
}
  #about img {
  	height: 360px;
  }

  #about .about{

  	margin-bottom: 1em;
  }

}










/*Media Query End*/